@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
	*{
		
		margin: 1px;
		padding: 1px;
		background:url(book.jpg);
		 
	
	}
	
a {
	display: block;
	background: #00A9D4;
	position:center;
	color: #fff;
	padding: 20px;
	cursor: pointer;
	text-decoration: none;
	width: 320px;
	text-align: center;
	border-radius:10px;
	font-size: 20px;
	
}
a:hover {
	background: #00729D;
}
.btn-2 {
	background: #F98909;
}

.btn-2:hover {
	background: #DC6C11;
}
p {
	color: #888;
	padding: 15px;
}
	
	h2{
		width:40%;
	    position: relative;
	    top: 10px;
		color:white;
		font-size: 40px;
		font-family:'Open Sans',sans-serif;
		right: -40px;
		 
	}
	
		
		section{
			margin:0px ;
			width:28%;
			height: 250px;
			display: bottom;
			justify-content: center;
		}
		section div{
			width: 22%;
			height: 93%;
			display:bottom;
			padding:-60%;
			position: flex;
		}
		img{
			width: 600px;
			height: 400px;
		}

		.object{
			margin: 5px;
		}
		
		h6{
		 width:40%;
	    position: relative;
	    top: 60px;
		
		font-size: 20px;
		font-family:'Open Sans',sans-serif;
		right: -700px;
		}
		
		
		section div span{
			position: absolute;
		    top: 14px;
		    left: 13px;
		    background:blue;
		    width: 300px;
		    height: 186px;
		    display: none;
		}
		
		section div:nth-child(1)>span.active{
			animation: first 0.5s ease-in;
			z-index: 2;
			display: block;

		}
		section div:nth-child(2)>span.active{
			animation: second 0.5s ease-in;
			z-index: 2;
			display: block;

		}
		section div:nth-child(3)>span.active{
			animation: third 0.5s ease-in;
			z-index: 2;
			display: block;

		}
		section div:nth-child(4)>span.active{
			animation: four 0.5s ease-in;
			z-index: 2;
			display: block;

		}
		@keyframes first{
			to{
				width: 30px;
			    height: 20px;
			    left: 1290px;
			    top: -70px;
			}
		}
		@keyframes second{
			to{
				width: 30px;
			    height: 20px;
			    left: 948px;
			    top: -70px;
			}
		}
		@keyframes third{
			to{
				width: 30px;
			    height: 20px;
			    left: 606px;
			    top: -70px;
			}
		}
		@keyframes four{
			to{
				width: 30px;
			    height: 20px;
			    left: 265px;
			    top: -70px;
			}
		}


		
		.select{
			width: 60%;
			height: 580px;
			padding: 5%;
			background: #222;
			position: absolute;
			top: -1000px;
			left: 20%;
			transition: 0.5s;
			overflow-y: auto;
			margin: auto;
		}
		.select.display{
			top: 10px;
		}
		.select div{
			width: 100%;
			height: 200px;
			display: flex;
			padding: 5px;
			border: 1px solid white;
			position: relative;
			margin: 5px auto;
		}
		.select div item{
			width: 300px;
			height: 100%;
		}
		.select div p{
			padding: 35px;
			color: white;
		}
		.select div h6,
		.select div button{
			position: absolute;
			left: 45%;
			top: 50%;
			color: white;
		}
		.select div button{
			left: 60%;
			top: 55%;
		}
		.select div span{
			display: none;
		}
		